<ion-content
  [fullscreen]="true"
  class="login-content"
>

  <!-- =====================================================
       BACKGROUND
  ====================================================== -->

  <div class="background-image">

    <img
      src="../../../assets/pasteur.jpeg"
      alt="Fléchissons"
      class="bg-img"
    >

    <!-- OVERLAY NOIR -->
    <div class="background-overlay"></div>

  </div>


  <!-- =====================================================
       CONTAINER
  ====================================================== -->

  <div class="login-container">


    <!-- =================================================
         LOGO / BRAND
    ================================================== -->

    <div class="brand">

      <!-- LOGO CIRCULAIRE -->
      <div class="brand-logo">

        <img
          src="../../../assets/logo.png"
          alt="Logo Fléchissons"
        >

      </div>


      <!-- NOM -->
      <div class="brand-text">

        <h1>Fléchissons</h1>

        <span>Nos genoux</span>

      </div>

    </div>


    <!-- =================================================
         HEADER
    ================================================== -->

    <div class="login-header">

      <div class="welcome-badge">

      

        <span>Prions ensemble</span>

      </div>


      <h2>
        Connexion
      </h2>


      <p>
        Connectez-vous pour continuer votre parcours
        avec Fléchissons.
      </p>

    </div>


    <!-- =================================================
         FORMULAIRE
    ================================================== -->

    <div class="login-form">


      <!-- =================================================
           EMAIL
      ================================================== -->

      <div class="input-wrapper">

        <i
          class="input-icon fa-solid fa-envelope -mt-[2%]"
        ></i>

        <ion-item
          lines="none"
          class="custom-input"
        >

          <ion-input
            placeholder="Adresse e-mail"
            [(ngModel)]="loginData.email"
            type="email"
            autocomplete="email"
            [disabled]="isLoading"
          ></ion-input>

        </ion-item>

      </div>


      <!-- =================================================
           PASSWORD
      ================================================== -->

      <div class="input-wrapper">

        <i
          class="input-icon fa-solid fa-lock -mt-[2%]"
        ></i>

        <ion-item
          lines="none"
          class="custom-input"
        >

          <ion-input
            placeholder="Mot de passe"
            [(ngModel)]="loginData.password"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password"
            [disabled]="isLoading"
          ></ion-input>


          <ion-icon
            [name]="
              showPassword
                ? 'eye-off-outline'
                : 'eye-outline'
            "
            class="password-toggle"
            (click)="togglePasswordVisibility()"
            slot="end"
          ></ion-icon>

        </ion-item>

      </div>


      <!-- =================================================
           MOT DE PASSE OUBLIÉ
      ================================================== -->

      <div class="forgot-password">

        <a routerLink="/forgot-password">
          Mot de passe oublié ?
        </a>

      </div>


      <!-- =================================================
           LOGIN BUTTON
      ================================================== -->

      <ion-button
        expand="block"
        class="btn-login"
        (click)="login()"
        [disabled]="isLoading"
      >

        <!-- NORMAL -->

        <ng-container *ngIf="!isLoading">

          <span>
            Se connecter
          </span>

          <ion-icon
            name="arrow-forward-outline"
          ></ion-icon>

        </ng-container>


        <!-- LOADING -->

        <ng-container *ngIf="isLoading">

          <span
            class="login-spinner"
          ></span>

          <span>
            Connexion...
          </span>

        </ng-container>

      </ion-button>


      <!-- =================================================
           SIGNUP
      ================================================== -->

      <div class="signup-link">

        <span>
          Pas encore de compte ?
        </span>

        <a routerLink="/signup">
          S'inscrire
        </a>

      </div>


    </div>

  </div>


  <!-- =====================================================
       TOAST
  ====================================================== -->

  <div
    *ngIf="showToast"
    class="
      fixed
      top-6
      left-1/2
      -translate-x-1/2
      z-[9999]
      w-[calc(100%-32px)]
      max-w-sm
      animate-toast-in
    "
  >

    <div
      class="
        flex
        items-center
        gap-3
        rounded-2xl
        bg-white
        px-4
        py-3
        shadow-2xl
        border
      "
      [ngClass]="
        toastType === 'success'
          ? 'border-green-100'
          : 'border-red-100'
      "
    >

      <!-- ICON -->

      <div
        class="
          flex
          h-9
          w-9
          shrink-0
          items-center
          justify-center
          rounded-full
        "
        [ngClass]="
          toastType === 'success'
            ? 'bg-green-50 text-green-500'
            : 'bg-red-50 text-red-500'
        "
      >

        <ion-icon
          [name]="
            toastType === 'success'
              ? 'checkmark-outline'
              : 'alert-circle-outline'
          "
          class="text-xl"
        ></ion-icon>

      </div>


      <!-- MESSAGE -->

      <div class="flex-1">

        <p
          class="
            text-[13px]
            font-semibold
            leading-5
            text-gray-800
          "
        >
          {{ toastMessage }}
        </p>

      </div>


      <!-- CLOSE -->

      <button
        type="button"
        class="
          text-gray-400
          transition
          hover:text-gray-700
        "
        (click)="closeToast()"
      >

        <ion-icon
          name="close-outline"
          class="text-xl"
        ></ion-icon>

      </button>

    </div>

  </div>

</ion-content>